*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #f4e4ba;
  display: flex;
  height:100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
  background:white;
  /* height:80%; */
  width:46%;
  border-radius: 1rem;
  /* margin: 5% 0; */
  padding: 1rem;
}
form label{
  display: block;
  margin-top: 0.5rem;
  
}
form input{
  outline:none;
  border: 2px solid gray;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  width:100%;
  height:2.5rem;  
}
.exchangeBox{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}
.exchangeBox .selectBox img{
  height:2.5rem;
  border-radius: 0.2rem;
}
.exchangeBox i{
  margin-top: 1.5rem;
  font-size: 1.3rem;
}
.exchangeBox .selectBox{
  display: flex;
  align-items:center;
  justify-content: space-evenly;
  border:2px solid gray;
  padding:0 0.5rem;
  border-radius: 0.5rem;
}
.exchangeBox .selectBox select{
  border:none;
  font-size: 1.2rem;
  background: transparent;
  outline:none;
}
.resultBox{
  font-size: 1.3rem;
  margin-top: 2rem;
}
.container form button{
  font-size: 1.3rem;
  border:none;
  outline:none;
  background: #af4d98;
  padding:0.5rem 1rem;
  border-radius: 0.5rem;
  color:white;
  width:100%;
  margin-top: 1rem;
}